# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
*.Rproj

# Not sharing any private data, obviously
data/enriched/private*
data/raw/private*
log/

.Rproj.user
